<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637216754767-rdtuv8fmivru2gr3ng1sntg76o17j1aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637216754767-rdtuv8fmivru2gr3ng1sntg76o17j1aa</string>
	<key>API_KEY</key>
	<string>AIzaSyDvrRQhojjXazgmduFzU0W3I9l9Q4o4Qn0</string>
	<key>GCM_SENDER_ID</key>
	<string>637216754767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FlopDev.testFBGG</string>
	<key>PROJECT_ID</key>
	<string>testfbgg</string>
	<key>STORAGE_BUCKET</key>
	<string>testfbgg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637216754767:ios:cadd0e29ae6292d52c2e3a</string>
</dict>
</plist>